.formInfo{
  font-size: 20px;
}
.formInfo1{
  font-size: 50px;
}
.formInfo2{
  font-size: 50px;
}
.formInfo3{
  font-size: 50px;
}
.formInfo4{
  font-size: 50px;
}
.formInfo5{
  font-size: 50px;
}
.totalField{

  font-size: 100px;
}
.removeB{
  color: red;
  font-size: 10px;
}
.remove1{

}
