.formInfo{
  font-size: 20px;
  width: 15%;
}
.formInfoSal{
  font-size: 20px;
  width: 15%;
}
/* .formInput{
  width: 100%;
} */

.totalField{

  font-size: 100px;
}
.removeB{
  color: red;
  font-size: 10px;
}
.remove1{

}
