.header{
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background-color: #FF5733;
}

.formInfo{
  padding: 5px;
  background-color: pink;
  text-align: center;
  font-size: 30px;
  width: 15%;
  color: white;
}
.formInfoSal{
  font-size: 30px;
  width: 15%;
  color: black;
  background-color: pink;
}
.firstName{
  font-size: 15px;
  background-color: ivory;
}
.lastName{
  font-size: 15px;
  background-color: ivory;
}
.idNumber{
  font-size: 15px;
  background-color: ivory;
}
.jobTitle{
  font-size: 15px;
  background-color: ivory;
}
.salary{
  font-size: 15px;
  background-color: ivory;
}
.form-table{
  padding: 10px;
  width: 100%;
  background-color: #F29783;
}
.totalField{
  margin: 5px;
  text-align: center;
  min-width: 20%;
  float: right;
  font-size: 40px;
}
.total{
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  float: right;
  font-size: 30px;
  background-color: #808080;
}
.remove1{
color: #D8C66F;
}
